<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empire Library</title>
</head>
<body>
    <!-- Título centrado -->
    <h1 align="center">Empire Library</h1>

    <!-- Formulario con botones centrados -->
    <form align="center">
        <!-- Botón 1 -->
        <button type="button" onclick="location.href='/readUsers'">mostrar Usuarios</button>
        <br><br>

        <!-- Botón 2 -->
        <button type="button" onclick="location.href='/createUsers'">Crear Usuarios</button>
        <br><br>

        <!-- Botón 3 -->
        <button type="button" onclick="location.href='/ruta3'">Botón 3</button>
        <br><br>

        <!-- Botón 4 -->
        <button type="button" onclick="location.href='/ruta4'">Botón 4</button>
        <br><br>

        <!-- Botón 5 -->
        <button type="button" onclick="location.href='/ruta5'">Botón 5</button>
    </form>
</body>
</html>