<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empire Library</title>
</head>
<body>
    <h1 align="center">Empire Library</h1>

    {% if session['rol'] == 'Admin' %}
        <form align="center">
            <button type="button" onclick="location.href='/readUsers'">Mostrar Usuarios</button>
            <br><br>
            <button type="button" onclick="location.href='/readBooks'">Mostrar libros</button>
            <br><br>
            <br><br>
            <button type="button" onclick="location.href='/bookRatings'">Ratings de los libros</button>
            <br><br>
        </form>
    {% elif session['rol'] != 'Admin' %}
        <form align="center">
            <button type="button" onclick="location.href='/readBooks'">Ver libros</button>
            <br><br>
            <button type="button" onclick="location.href='/userConfig'">configuraciones de usuario</button>
            <br><br>
            <button type="button" onclick="location.href='/readBooks'">Mostrar libros</button>
            <br><br>
        </form>
    {% else %}
        <p align="center">No tienes acceso a esta página.</p>
    {% endif %}

    <!-- Cerrar sesión -->
    <div align="center">
        <button type="button" onclick="location.href='/logout'">Cerrar Sesión</button>
    </div>
</body>
</html>
